.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}
.error {
  font-size: small;
  color: red;
}
